/* Page setup */
@page {
  size: 8.5in 11in;
  margin: 0;
}
body {
  width: 816px;
  height: 1056px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #222;
}

/* Graphics */
.graphic {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.graphic-top {
  top: 0;
}
.graphic-bottom {
  bottom: 0;
}

/* Header */
.header-title {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0px #ffd94b;
  font-family: "Poller One";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  margin-left: 190px;
  padding-top: 20px;
  text-transform: uppercase;
}

/* Details section */
.details {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 210px;
}
.details-heading {
  font-weight: 500;
  margin: 0 0 5px 0;
}
.details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  padding: 10px;
  border: 1px solid #222;
  z-index: -2;
}
.details-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.details-label {
  font-weight: 500;
  min-width: 95px;
}
.details-item {
  display: flex;
  margin-bottom: 0;
}

/* Footer */
.address-container {
  min-width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  bottom: 100px;
  left: 30px;
  z-index: -2;
}
.address-box {
  border-style: solid;
  border-width: 1px;
  padding: 12px;
  flex: 1;
  text-align: center;
}
.address-box:last-child {
  border-left: none;
}
.address-box p {
  margin: 5px 0px;
}

/* Text styles */
.bold {
  font-weight: bold;
}
.semi-bold {
  font-weight: 500;
}
.center {
  text-align: center !important;
}
