/* Table */
.results-table {
  width: auto;
  border-collapse: collapse;
  margin: 10px auto;
}
.results-table th,
.results-table td {
  border: 1px solid #000;
  padding: 0 5px;
  text-align: center;
}
.results-table td:first-child {
  text-align: left;
}
.results-table th {
  background-color: #00b0f0;
  color: white;
}
tr.highlight_high {
  background-color: lightsalmon;
}
tr.highlight_low {
  background-color: lightblue;
}

/* Maquilado section */
.maquilado-section {
  padding: 0 58px;
}
.maquilado-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.maquilado-details {
  flex: 1;
}
