<section class="details">
  <p class="details-heading">{{requerido}}</p>
  <div class="details-wrapper">
    <div class="details-box">
      <div class="details-item">
        <span class="details-label">Fecha:</span>
        <span class="details-value">{{fecha}}</span>
      </div>
      <div class="details-item">
        <span class="details-label">Nombre:</span>
        <span class="details-value">{{nombreMascota}}</span>
      </div>
      <div class="details-item">
        <span class="details-label">Especie:</span>
        <span class="details-value">{{especie}}</span>
      </div>
      <div class="details-item">
        <span class="details-label">Propietario:</span>
        <span class="details-value">{{nombrePropietario}}</span>
      </div>
    </div>
    <div class="details-box">
      <div class="details-item">
        <div class="details-label">Edad:</div>
        <div class="details-value">{{edad}}</div>
      </div>
      <div class="details-item">
        <div class="details-label">Raza:</div>
        <div class="details-value">{{raza}}</div>
      </div>
      <div class="details-item">
        <div class="details-label">Sexo:</div>
        <div class="details-value">{{sexo}}</div>
      </div>
      <div class="details-item">
        <div class="details-label">Telefono:</div>
        <div class="details-value">{{telefono}}</div>
      </div>
    </div>
  </div>
</section>
