<h1 class="title">RESULTADOS DE LABORATORIO<br>DISTEMPER/ADENOVIRUS CANINO</h1>
<div id="formularioDistemper" class="form">
  <fieldset class="fieldset">
    <legend class="legend">Distemper/Adenovirus</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="distemper">Distemper Canino</label>
        <div class="radio-group">
          <input type="radio" id="distemperPositivo" name="distemper" value="Positivo" required>
          <label class="label" for="distemperPositivo">Positivo</label>
          <input type="radio" id="distemperNegativo" name="distemper" value="Negativo" checked>
          <label class="label" for="distemperNegativo">Negativo</label>
        </div>
        <label class="label" for="adenovirus">Adenovirus Canino</label>
        <div class="radio-group">
          <input type="radio" id="adenovirusPositivo" name="adenovirus" value="Positivo" required>
          <label class="label" for="adenovirusPositivo">Positivo</label>
          <input type="radio" id="adenovirusNegativo" name="adenovirus" value="Negativo" checked>
          <label class="label" for="adenovirusNegativo">Negativo</label>
        </div>
      </div>
      <div class="form-column">
        <label class="label" for="testFoto">Seleccionar foto:</label>
        <input type="file" id="testFoto" accept="image/jpeg, image/png, image/webp" required>
        <img id="testFotoThumbnail" class="testFotoThumbnail" src="" alt="Foto del test">
      </div>
    </div>
  </fieldset>
</div>
