<h1 class="title">RESULTADOS DE LABORATORIO<br>HEMOPARASITOS</h1>
<div id="formularioHemoparasitos_caninna" class="form">
  <fieldset class="fieldset">
    <legend class="legend">Hemoparásitos</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="gusanoCorazon">Gusano del Corazón</label>
        <div class="radio-group">
          <input type="radio" id="gusanoCorazonPositivo" name="gusanoCorazon" value="Positivo" required>
          <label class="label" for="gusanoCorazonPositivo">Positivo</label>
          <input type="radio" id="gusanoCorazonNegativo" name="gusanoCorazon" value="Negativo" checked>
          <label class="label" for="gusanoCorazonNegativo">Negativo</label>
        </div>
        <label class="label" for="ehrlichiosis">Ehrlichiosis</label>
        <div class="radio-group">
          <input type="radio" id="ehrlichiosisPositivo" name="ehrlichiosis" value="Positivo" required>
          <label class="label" for="ehrlichiosisPositivo">Positivo</label>
          <input type="radio" id="ehrlichiosisNegativo" name="ehrlichiosis" value="Negativo" checked>
          <label class="label" for="ehrlichiosisNegativo">Negativo</label>
        </div>
        <label class="label" for="lyme">Lyme</label>
        <div class="radio-group">
          <input type="radio" id="lymePositivo" name="lyme" value="Positivo" required>
          <label class="label" for="lymePositivo">Positivo</label>
          <input type="radio" id="lymeNegativo" name="lyme" value="Negativo" checked>
          <label class="label" for="lymeNegativo">Negativo</label>
        </div>
        <label class="label" for="anaplasmosis">Anaplasmosis</label>
        <div class="radio-group">
          <input type="radio" id="anaplasmosisPositivo" name="anaplasmosis" value="Positivo" required>
          <label class="label" for="anaplasmosisPositivo">Positivo</label>
          <input type="radio" id="anaplasmosisNegativo" name="anaplasmosis" value="Negativo" checked>
          <label class="label" for="anaplasmosisNegativo">Negativo</label>
        </div>
      </div>
      <div class="form-column">
        <label class="label" for="testFoto">Seleccionar foto:</label>
        <input type="file" id="testFoto" accept="image/jpeg, image/png, image/webp" required>
        <img id="testFotoThumbnail" class="testFotoThumbnail" src="" alt="Foto del test">
      </div>
    </div>
  </fieldset>
</div>
