<!-- Hemogram form content -->
<h1 class="title">RESULTADOS DE LABORATORIO<br />HEMOGRAMA COMPLETO</h1>
<div id="formularioHemograma" class="form">
  <fieldset class="fieldset">
    <legend class="legend">Formula roja</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="eritrocitos">Eritrocitos:</label>
        <input class="input-number" type="number" step="any" id="eritrocitos" required />
        <label class="label" for="hemoglobina">Hemoglobina:</label>
        <input class="input-number" type="number" step="any" id="hemoglobina" required />
      </div>
        <div class="form-column">
          <label class="label" for="hematocrito">Hematocrito:</label>
          <input class="input-number" type="number" step="any" id="hematocrito" required />
          <label class="label" for="volumenGlobularMedio">Volumen Globular Medio:</label>
          <input class="input-number" type="number" step="any" id="volumenGlobularMedio" required />
        </div>
      <div class="form-column">
        <label class="label" for="hemoglobinaPromedio">Hemoglobina Promedio:</label>
        <input class="input-number" type="number" step="any" id="hemoglobinaPromedio" required />
        <label class="label" for="concentracionMediaHemoglobina">Concentración Media de Hemoglobina:</label>
        <input class="input-number" type="number" step="any" id="concentracionMediaHemoglobina" required />
      </div>
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="legend">Formula blanca</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="plaquetas">Plaquetas:</label>
        <input class="input-number" type="number" step="any" id="plaquetas" required />
      </div>
      <div class="form-column">
        <label class="label" for="leucocitos">Leucocitos:</label>
        <input class="input-number" type="number" step="any" id="leucocitos" required />
      </div>
      <div class="form-column"></div>
    </div>
    <div class="horizontal">
      <div class="spacer"></div>
      <span class="bold">Valores Relativos</span>
      <div class="spacer"></div>
    </div>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="monocitos_rel">Monocitos Relativos:</label>
        <input class="input-number" type="number" step="any" id="monocitos_rel" required />
        <label class="label" for="linfocitos_rel">Linfocitos Relativos:</label>
        <input class="input-number" type="number" step="any" id="linfocitos_rel" required />
      </div>
      <div class="form-column">
        <label class="label" for="eosinofilos_rel">Eosinófilos Relativos:</label>
        <input class="input-number" type="number" step="any" id="eosinofilos_rel" required />
        <label class="label" for="basofilos_rel">Basófilos Relativos:</label>
        <input class="input-number" type="number" step="any" id="basofilos_rel" required />
      </div>
      <div class="form-column">
        <label class="label" for="neutrofilos_segmentados_rel">Neutrófilos Segmentados Relativos:</label>
        <input class="input-number" type="number" step="any" id="neutrofilos_segmentados_rel" required />
        <label class="label" for="neutrofilos_banda_rel">Neutrófilos en Banda Relativos:</label>
        <input class="input-number" type="number" step="any" id="neutrofilos_banda_rel" required />
      </div>
    </div>
    <div class="horizontal">
      <div class="spacer"></div>
      <span class="bold">Valores Absolutos</span>
      <div class="spacer"></div>
    </div>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="monocitos_abs">Monocitos Absolutos:</label>
        <input class="input-number" type="number" step="any" id="monocitos_abs" required />
        <label class="label" for="linfocitos_abs">Linfocitos Absolutos:</label>
        <input class="input-number" type="number" step="any" id="linfocitos_abs" required />
      </div>
      <div class="form-column">
        <label class="label" for="eosinofilos_abs">Eosinófilos Absolutos:</label>
        <input class="input-number" type="number" step="any" id="eosinofilos_abs" required />
        <label class="label" for="basofilos_abs">Basófilos Absolutos:</label>
        <input class="input-number" type="number" step="any" id="basofilos_abs" required />
      </div>
      <div class="form-column">
        <label class="label" for="neutrofilos_segmentados_abs">Neutrófilos Segmentados Absolutos:</label>
        <input class="input-number" type="number" step="any" id="neutrofilos_segmentados_abs" required />
        <label class="label" for="neutrofilos_banda_abs">Neutrófilos en Banda Absolutos:</label>
        <input class="input-number" type="number" step="any" id="neutrofilos_banda_abs" required />
      </div>
    </div>
  </fieldset>
</div>
