<!-- Hemogram form content -->
<h1 class="title">RESULTADOS DE LABORATORIO<br />HEMOGRAMA COMPLETO</h1>
<div id="formularioHemograma" class="form">
  <fieldset class="fieldset">
    <legend class="legend">Formula roja</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="rbc">Eritrocitos (RBC):</label>
        <input class="input-number" type="number" id="rbc" required />
        <label class="label" for="hgb">Hemoglobina (HGB):</label>
        <input class="input-number" type="number" id="hgb" required />
        <label class="label" for="hct">Hematocrito (HCT):</label>
        <input class="input-number" type="number" id="hct" required />
        <label class="label" for="mcv">Volumen Corpuscular Medio (MCV):</label>
        <input class="input-number" type="number" id="mcv" required />
        <label class="label" for="mch">Hemoglobina Corpuscular Media (MCH):</label>
        <input class="input-number" type="number" id="mch" required />
      </div>
      <div class="form-column">
        <label class="label" for="mchc">Concentración de Hemoglobina Corpuscular Media (MCHC):</label>
        <input class="input-number" type="number" id="mchc" required />
        <label class="label" for="rdw_cv">Amplitdud de Distribución Eritrocitaria (RDW_CV)</label>
        <input class="input-number" type="number" id="rdw_cv" required />
        <label class="label" for="rdw_sd">Desviación de Distribución Eritrocitaria (RDW_SD)</label>
        <input class="input-number" type="number" id="rdw_sd" required />
        <label class="label" for="plt">Plaquetas (PLT)</label>
        <input class="input-number" type="number" id="plt" required />
        <label class="label" for="pct">Procalcitonina (PCT)</label>
        <input class="input-number" type="number" id="pct" required />
      </div>
      <div class="form-column">
        <label class="label" for="mpv">Volumen Plaquetario Medio (MPV)</label>
        <input class="input-number" type="number" id="mpv" required />
        <label class="label" for="pdw">Índice de Distribución Plaquetaria (PDW)</label>
        <input class="input-number" type="number" id="pdw" required />
        <label class="label" for="p_lcr">Porcentaje de Plaquetas Grandes (P_LCR)</label>
        <input class="input-number" type="number" id="p_lcr" required />
        <label class="label" for="p_lcc">Promedio de Plaquetas (P_LCC)</label>
        <input class="input-number" type="number" id="p_lcc" required />
      </div>
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <legend class="legend">Formula blanca</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="wbc">Leucocitos Totales (WBC):</label>
        <input class="input-number" type="number" id="wbc" required />
      </div>
      <div class="form-column"></div>
    </div>
    <div class="horizontal">
      <div class="spacer"></div>
      <span class="bold">Valores Relativos</span>
      <div class="spacer"></div>
    </div>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="linfocitos_rel">Linfocitos Relativos:</label>
        <input class="input-number" type="number" id="linfocitos_rel" required />
        <label class="label" for="monocitos_rel">Monocitos Relativos:</label>
        <input class="input-number" type="number" id="monocitos_rel" required />
      </div>
      <div class="form-column">
        <label class="label" for="granulocitos_rel">Granulocitos Relativos:</label>
        <input class="input-number" type="number" id="granulocitos_rel" required />
        <label class="label" for="eosinofilos_rel">Eosinófilos Relativos:</label>
        <input class="input-number" type="number" id="eosinofilos_rel" required />
      </div>
    </div>
    <div class="horizontal">
      <div class="spacer"></div>
      <span class="bold">Valores Absolutos</span>
      <div class="spacer"></div>
    </div>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="linfocitos_abs">Linfocitos Absolutos:</label>
        <input class="input-number" type="number" id="linfocitos_abs" required />
        <label class="label" for="monocitos_abs">Monocitos Absolutos:</label>
        <input class="input-number" type="number" id="monocitos_abs" required />
      </div>
      <div class="form-column">
        <label class="label" for="granulocitos_abs">Granulocitos Absolutos:</label>
        <input class="input-number" type="number" id="granulocitos_abs" required />
        <label class="label" for="eosinofilos_abs">Eosinófilos Absolutos:</label>
        <input class="input-number" type="number" id="eosinofilos_abs" required />
      </div>
    </div>
  </fieldset>
</div>
