<!-- Hemogram form content -->
<h1 class="title">RESULTADOS DE LABORATORIO<br />PERFIL COMPLETO CANINO</h1>
<div id="formularioHemograma" class="form">
  <fieldset class="fieldset">
    <legend class="legend">Perfil Completo</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="alb">Albumina (ALB):</label>
        <input class="input-number" type="number" step="any" id="alb" required />
        <label class="label" for="tp">Proteínas totales (TP):</label>
        <input class="input-number" type="number" step="any" id="tp" required />
        <label class="label" for="glu">Glucosa (GLU):</label>
        <input class="input-number" type="number" step="any" id="glu" required />
        <label class="label" for="chol">Colesterol total (CHOL):</label>
        <input class="input-number" type="number" step="any" id="chol" required />
        <label class="label" for="alp">Fosfatasa alcalina (ALP):</label>
        <input class="input-number" type="number" step="any" id="alp" required />
        <label class="label" for="alt">Alanina aminotran (ALT):</label>
        <input class="input-number" type="number" step="any" id="alt" required />
      </div>
      <div class="form-column">
        <label class="label" for="ggt">Transpeptidasa (GGT)</label>
        <input class="input-number" type="number" step="any" id="ggt" required />
        <label class="label" for="tbil">Bilirrubina total (TBIL)</label>
        <input class="input-number" type="number" step="any" id="tbil" required />
        <label class="label" for="amy">Amilasa (AMY)</label>
        <input class="input-number" type="number" step="any" id="amy" required />
        <label class="label" for="lipa">Lipasa (LIPA)</label>
        <input class="input-number" type="number" step="any" id="lipa" required />
        <label class="label" for="bun">Nitrogeno ureico (BUN)</label>
        <input class="input-number" type="number" step="any" id="bun" required />
        <label class="label" for="crea">Creatinina (CREA)</label>
        <input class="input-number" type="number" step="any" id="crea" required />
      </div>
      <div class="form-column">
        <label class="label" for="ca">Calcio (CA)</label>
        <input class="input-number" type="number" step="any" id="ca" required />
        <label class="label" for="phos">Fósforo (PHOS)</label>
        <input class="input-number" type="number" step="any" id="phos" required />
        <label class="label" for="glob">Globulina (GLOB)</label>
        <input class="input-number" type="number" step="any" id="glob" required />
        <label class="label" for="urea">Urea (UREA)</label>
        <input class="input-number" type="number" step="any" id="urea" required />
        <label class="label" for="ag">Relación Albumina/Globulina (AG)</label>
        <input class="input-number" type="number" step="any" id="ag" required />
        <label class="label" for="bc">Relación Nitrógeno Ureico/Creatinina (BC)</label>
        <input class="input-number" type="number" step="any" id="bc" required />
      </div>
    </div>
  </fieldset>
</div>
