<h1 class="title">RESULTADOS DE LABORATORIO<br>SIDA | Leucemia | Gusano del corazón</h1>
<div id="formularioHemoparasitos" class="form">
  <fieldset class="fieldset">
    <legend class="legend">SIDA | Leucemia | Gusano del corazón</legend>
    <div class="form-columns">
      <div class="form-column">
        <label class="label" for="sida">Sida felino:</label>
        <div class="radio-group">
          <input type="radio" id="sidaPositivo" name="sida" value="Positivo" required>
          <label class="label" for="sidaPositivo">Positivo</label>
          <input type="radio" id="sidaNegativo" name="sida" value="Negativo" checked>
          <label class="label" for="sidaNegativo">Negativo</label>
        </div>
        <label class="label" for="leucemia">Leucemia:</label>
        <div class="radio-group">
          <input type="radio" id="leucemiaPositivo" name="leucemia" value="Positivo" required>
          <label class="label" for="leucemiaPositivo">Positivo</label>
          <input type="radio" id="leucemiaNegativo" name="leucemia" value="Negativo" checked>
          <label class="label" for="leucemiaNegativo">Negativo</label>
        </div>
        <label class="label" for="gusano">Gusano del corazón:</label>
        <div class="radio-group">
          <input type="radio" id="gusanoPositivo" name="gusano" value="Positivo" required>
          <label class="label" for="gusanoPositivo">Positivo</label>
          <input type="radio" id="gusanoNegativo" name="gusano" value="Negativo" checked>
          <label class="label" for="gusanoNegativo">Negativo</label>
        </div>
      </div>
      <div class="form-column">
        <label class="label" for="testFoto">Seleccionar foto:</label>
        <input type="file" id="testFoto" accept="image/jpeg, image/png, image/webp" required>
        <img id="testFotoThumbnail" class="testFotoThumbnail" src="" alt="Foto del test">
      </div>
    </div>
  </fieldset>
</div>
