<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hemograma completo</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      position: relative;
    }
    .top-graphic, .bottom-graphic {
      width: 100%;
      position: absolute;
    }
    .top-graphic {
      top: 0;
    }
    .bottom-graphic {
      bottom: 0;
    }
  </style>
</head>
<body>
  <img src="{{topImagePath}}" alt="Top Graphic" class="top-graphic">
  <img src="{{bottomImagePath}}" alt="Bottom Graphic" class="bottom-graphic">
</body>
</html>